body {
  background: #efefef;
  font-size: 1.25em;
  font-family: "Open Sans", sans-serif;
  /* font-family: monospace; */
}

.titolo {
  color: #5e13c0;
}

.sottotitolo {
  color: rgb(142, 84, 218);
}

.post-title {
  color: #1c191d;
}

.post-subtitle {
  font-weight: 800;
  color: #2f2c30;
}

.post-paragraph {
  color: rgb(78, 74, 79);
  max-width: 60ch;
  font-style: italic;
  font-variant: small-caps;
  line-height: 1.8;
  letter-spacing: 0.34px;
}

.bg-image {
  height: 360px; /* mm, cm,  px, pt, 1pc = 12pt Misura Assoluta n.b dipende dai DPI dello schermo */
  width: 70%; /* % em rem vw vh Misura Relativa */
  background: radial-gradient(circle, steelblue 33%, pink 64%, #f26caf 28%);
}

.about-link {
  text-decoration: none;
}
