body {
  background: #efefef;
  text-transform: uppercase;
  text-align: center;
}

.titolo {
  color: #5e13c0;
}

.sottotitolo {
  color: rgb(142, 84, 218);
}

.post-title {
  color: #1c191d;
}

.post-subtitle {
  color: #2f2c30;
}

.post-paragraph {
  color: rgb(78, 74, 79);
}

.bg-image {
  height: 360px; /* mm, cm,  px, pt, 1pc = 12pt Misura Assoluta n.b dipende dai DPI dello schermo */
  width: 70%; /* % em rem vw vh Misura Relativa */
  background: radial-gradient(circle, steelblue 33%, pink 64%, #f26caf 28%);
}

.about-link {
  text-decoration: none;
}
