* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --grey1: #f8f8ff;
  --grey2: #f3f4f5;
  --grey3: #65676b;
  --black1: #101010;
  --brand-color: #7026ba;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: "Monteserrat", sans-serif;
  background: white;
}

.container {
  max-width: 1140px;
  margin: auto;
  width: calc(100% - 48px);
}

.flex-container {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

h1 {
  font-weight: 800;
  font-size: 96px;
  line-height: 105px;
  font-family: "Ubuntu", sans-serif;
}

h2 {
  font-weight: 700;
  font-size: 56px;
  line-height: 67px;
  font-family: "Ubuntu", sans-serif;
}

h4,
h6 {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

/*START NAVBAR STYLE*/

#navbar {
  background-color: white;
  /* box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1); */
  width: 100%;
  height: 72px;
}

#navbar .flex-container {
  justify-content: space-between;
  align-items: center;
}

#navbar #nav-list {
  display: flex;
}

#nav-list li,
#search-nav li {
  padding: 10px 16px;
  border-radius: 16px;
  color: var(--grey3);
  font-weight: 500;
  font-size: 14px;
}

.active-link {
  background-color: var(--grey2);
}

/*END NAVBAR STYLE*/

#claim {
  background-color: var(--grey1);
  height: 308px;
}

/* END CLAIM STYLE */
#search-nav {
  height: 72px;
}

#search-nav .flex-container {
  justify-content: space-between;
  color: var(--black1) !important;
}

#search-nav input {
  max-width: 367px;
  width: 100%;
  height: 48px;
  border-radius: 16px;
  background: var(--grey2);
  border: none;
  padding-left: 30px;
  outline: none;
  font-size: 16px;
}

/* END OF SEARCH NAV */

#fixed-article {
  margin-top: 56px;
}

#main-article {
  gap: 151px;
}

#main-article .text-container {
  flex-direction: column;
  gap: 24px;
}

.post-category {
  color: var(--brand-color);
}

#main-article .img-container {
  position: relative;
  width: 530px;
  height: 341px;
  flex-grow: 1;
  flex-shrink: 0;
  overflow: hidden;
  /* flex-basis: 560px; */
  background-color: var(--grey2);
}

#main-article .img-container .img {
  width: 100%;
  position: absolute;
  height: 100%;
}

#main-article footer {
  gap: 16px;
}

#main-article .author-box {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: var(--grey2);
}

#main-article .author-box p {
  color: #65676b;
  font-weight: 600;
}
